<a class="mdl-navigation__link" href="<%= books_path %>">Reading</a>
<a class="mdl-navigation__link" href="<%= books_path %>">Finished</a>
<a class="mdl-navigation__link" href="<%= books_path %>">Discarded</a>
<a class="mdl-navigation__link" href="<%= new_book_path %>">Add Book</a>
